---
import Default from "@layouts/Default.astro";
---

<Default title="PyCon APAC 2024">
  <main class="flex flex-col justify-center items-center">
    <section id="hero" class="w-full">
      <div class="flex flex-col sm:flex-row bg-[#edecf4] p-8">
        <div class="flex flex-col w-1/2 gap-y-2 justify-center md:ml-24">
          <h1 class="text-2xl md:text-5xl">PyCon APAC 2024</h1>
          <h2 class="text-xl md:text-2xl">We are happy to see you again!</h2>
          <p class="text-xl md:text-xl font-bold">
            Conference: October 25-27, 2024
          </p>
          <p class="text-xl md:text-xl font-bold">Venue: TBD</p>
          <a
            href="https://maps.app.goo.gl/iTix8UXVDjNBn2vu8"
            class="font-bold text-[#42449e] hover:underline"
          >
            <p class="text-xl md:text-xl">Yogyakarta, Indonesia</p>
          </a>
        </div>
        <div class="flex flex-col w-1/2 justify-center items-center">
          <img
            src="/pythonid.svg"
            alt="PythonID Logo"
            width="350"
            height="350"
          />
        </div>
      </div>
    </section>
  </main>
</Default>
