---
import Default from "@layouts/Default.astro";
---

<Default title="PyCon APAC 2024">
  <main>
    <!--=================
        slider-part start
    ==================-->
    <section id="slider-part">
      <div class="single-slider">
        <div class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="slider-text">
                  <p><b>(Em)powered by Python</b></p>
                  <h2>PyCon APAC 2024</h2>
                  <p><b>Sponsorship</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================
        slider-part end
    ==================-->
    <!--=================
        festive-part start
    ==================-->
    <section id="festive-part">
      <div class="container">
        <div class="row">

          <div class="col-lg-7">
            <div class="festive-text">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSckkgXMyjHHUUuq8QdwPUEcwfoUuYrZEmAzErs2xo5YzbiufQ/viewform?embedded=true" width="500" height="556" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="festive-text">
              <h2>Call for Sponsorship</h2>
              <p class="fest-para1">Join us as a sponsor and partner for Pycon APAC 2024 in Yogyakarta, Indonesia.</p>
              <p class="fest-para2">Please leave your contact in the form and we will contact you. Or you can email us at pycon@python.or.id<br></br>You can also contact us: </br>Irvan Putra</br>+62-821-7582-2931</br> irvan.putra@python.or.id
                </br></br>Lutfi Zuchri</br>+62-812-3190-9955</br>lutfi@python.or.id
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================
        festive-part end
    ==================-->
  </main>
</Default>
