<footer id="footer-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="footer-widget">
          <div class="footer-icon">
            <a href="https://www.instagram.com/pythonid">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/id_python">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/IDPython">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/company/pythonid">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
